@import "../../variables.scss";

.profileBar {
    width: 100%;
    box-sizing: border-box;
    background-color: $primary-color;

    h1 {
        color: $secondary-color;
        text-align: center;
        margin: 0;
        margin-top: $base-spacing * 2;
    }

    h2 {
        color: $secondary-color;
        text-align: center;
        margin: 0;
        padding-bottom: $base-spacing * 6;


        .skillsGrid {
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: 60%;        

            .cell {
                height: 100%;
            }
        }
    }

    span {
        font-weight: 900;
    }

    .facePic {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    img {
        border-radius: 100%;
        border: 3px solid $secondary-color;
        width: 40vw;
        height: 40vw;
        margin-top: $base-spacing * 8;
    }
}

@media only screen and (min-width: 426px) {

    .profileBar {
        width: 30vw;
        height: 100%;

        img {
            width: 15vw;
            height: 15vw; 
        }
    }

}