@import "../../variables.scss";

.projectsPage {
    box-sizing: border-box;
    margin: 0;
    padding: 5vw;
    width: 100vw;

    h2 {
        color: $primary-color;
    }

    .projectsBox {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}